{
    "DocumentType": "$!exchange.properties.TipoDeDocumento",
	"DocumentNumber": "$!exchange.properties.NumeroDeDocumento",
	"FirstName": "$!exchange.properties.PrimerNombre",
	"MiddleName": "$!exchange.properties.SegundoNombre",
	"LastName": "$!exchange.properties.PrimerApellido",
	"SecondLastName": "$!exchange.properties.SegundoApellido",
	"Address": "$!exchange.properties.DirecciónPrincipal",
	"SourceAddress": "$!exchange.properties.OrigenDirección",
	"Department": "$!exchange.properties.Departamento",
	"City": "$!exchange.properties.Municipio",
	"PhoneNumber": "$!exchange.properties.Telefono",
	"Movil": $!exchange.properties.Celular,
	"Populated": "$!exchange.properties.CentroPoblado",
	"Email": "$!exchange.properties.CorreoElectronico",
	"Territory": "$!exchange.properties.Territorio",
	"BirthDate": $!exchange.properties.FechaDeNacimiento,
	"Age": "$!exchange.properties.Edad,
	"Genre": "$!exchange.properties.Genero",
	"MaritalStatus": "$!exchange.properties.EstadoCivil",
	"SexualOrientation": "$!exchange.properties.OrientacionSexual",
	"Etareo": "$!exchange.properties.Etareo",
	"Disability": "$!exchange.properties.Discapacidad",
	"EthnicGroup": "$!exchange.properties.GrupoEtnico",
	"GenderIdentity": "$!exchange.properties.IdentidadDeGenero",
	"IDLegaliPersona": "$!exchange.properties.IDLegaliPersona"
	
	}