<soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:cre="http://CambiarContraseniaServices.servicios.mercurio.servisoft.com.co/">
   <soapenv:Header/>
   <soapenv:Body>
      <cre:CambiarContrasenia>
          <arg0>
            <id_UsuarioS>$!exchange.properties.IdUsuarios</id_UsuarioS>
            <contraseñaS>$!exchange.properties.Contrasenas</contraseñaS>
            <ID_USRIO>$!exchange.properties.IdUsuario</ID_USRIO>
            <nueva_Contraseña>$!exchange.properties.ContrasenaNueva</nueva_Contraseña>
         </arg0>
      </cre:CambiarContrasenia>
   </soapenv:Body>
</soapenv:Envelope>